body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#loginform{
    width: 400px;
    height: 350px;
    margin:30vh auto 0 auto;
    background-color: rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 20px 20px 30px 30px;
}

h2{
    text-align: center;
    font-size: 40px;
    
}

#loginform button {
    width: 100%;
    background-color:
}

#loginform button{
    width: 100%;
    background-color: rgb(19, 226, 19);
    color: white;
    border: 1px solid ;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
    font-size: 20px;
    border-color:rgb(19, 226, 19) ;
}

#loginform button:hover{
    background-color: rgb(47, 241, 47);
    color: wheat;
}

#form{
    width: 400px;
    margin:20vh auto 0 auto;
    background-color: rgba(0, 0, 0,0.2);
    border-radius: 20px;
    padding: 30px;
}

h1{
    text-align: center;
    color: rgb(230, 55, 55);
}

#form button{
    width: 100%;
    background-color: rgb(19, 226, 19);
    color: white;
    border: 1px solid ;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
    font-size: 20px;
    border-color:rgb(19, 226, 19);
}

button:hover{
    background-color: rgb(47, 241, 47);
    color: wheat;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group input{
    padding: 5px;
    margin: 5px;
    font-size: 15px; 
    border-radius: 5px;
    border: 1px solid black;

}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}

h3{
    text-align: center;
    font-size: 30px;
}

#todoList{
    width: 400px;
    height: 300px;
    margin:20vh auto 0 auto;
    background-color: rgba(0, 0, 0,0.2);
    border-radius: 20px;
    padding: 30px;
}

#todoList input{
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
}

#todoList button{
    padding: 5px;
    border-radius: 5px;
    background-color:  rgb(207, 144, 171);;
}

.account{
    margin: 20px;
    text-align: center;
}

@media screen and (max-width: 800px){
   .container{
     padding: 5px; 
   }
   #form{
    width: 80%;
   }
   #loginform{
    width: 80%;
   }
   #todoList{
    width: 80%;
   }

}
